.task-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: rgb(117, 134, 174);
  border-radius: 5px;
}

.task-name {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.task-progress-bar {
  width: 95%;
}

.scroll-container {
  height: 275px; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}
.scroll-item {
  padding: 10px;
  margin: 5px 0;
  background-color: lightblue;
  border-radius: 5px;
}
